<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List - Create Task</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Crear nueva tarea</h1>
    </header>
    <main>
        <form id="create_task" method="post" action="{% url 'create_task' %}">
            {% csrf_token %}
            <label for="name">Nombre de la tarea:</label>
            <input type="text" id="name" name="name" required>

            <label for="description">Descripción:</label>
            <textarea id="description" name="description" required></textarea>

            <label for="dueDate">Fecha de vencimiento:</label>
            <input type="date" id="dueDate" name="dueDate" required>

            <button type="submit">Guardar</button>
            <button type="button" class="back-button" onclick="goBack()">Volver</button>
        </form>
    </main>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>