<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>My To-Do List</h1>
        <button onclick="location.href='/api/create_task'">Añade una nueva Task</button>
    </header>
    <main>
        <ul>
            {% for name in names %}
            <li>{{ name }}</li>
            {% endfor %}
        </ul>
    </main>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>